
.red {
    background: red;
    height: 100%;
}

.testblock {
    width: 50px;
    height: 50px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 62.5%;
    font: 500 1.5em/1.8 PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans;
}

.login-wrap {
    background: url(${pageContext.request.contextPath}/static/img/login/login-background.jpg);
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center center;
    min-width: 1280px;
    background-repeat: no-repeat;
}

.login-logo {
    width: 215px;
    height: 60px;
    position: absolute;
    top: -102px;
    left: 50%;
    margin-left: -108px;
}

.login-body {
    background: url(${pageContext.request.contextPath}/static/img/login/bg-pixiu.png) no-repeat;
    background-size: 100% 100%;
    width: 383px;
    height: 383px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 3px;
}

.form-group {
    margin-bottom: 12px;
}

#signupForm {
    margin: 0 auto;
    width: 80%;
}

#signupForm .input-lg {
    background:  no-repeat;
}

.input-lg {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.login-body h1 {
    color: #999;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    margin-top: 52px;
    margin-bottom: 22px;
    letter-spacing: 0.25em;
}

.btn.form-btn.login-btn {
    background-color: #507bea;
    color: #fff;
}

.btn.form-btn {
    width: 100%;
    border-radius: 2px;
    margin-bottom: 1em;
    display: block;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    border: 2px solid #507bea;
    color: #4064c2;
    background-color: #fff;
}

.red {
    background: red;
}

.
.width2 {
    width: 20%;
}

.width8 {
    width: 80%;
}

.width4 {
    width: 40%;
}

.width-82 {
    width: 82% !important;
}

.height-15 {
    height: 15%;
}

.height-5 {
    height: 5%;
}

.height-5 {
    height: 5%;
}

.height-10 {
    height: 10%;
}

.width1 {
    width: 100%;
}

.width2 {
    width: 20%;
}

.width-18 {
    width: 18% !important;
}

.width6 {
    width: 60%;
}

.height-1 {
    height: 100%;
}

.height-90 {
    height: 90%;
}

.height-95 {
    height: 95%;
}

.height2000 {
    height: 2000px;
}

.height50 {
    height: 50px;
}

.height60 {
    height: 60px;
}

.blue {
    background: #2b669a;
}

.menu-color {
    background-color: #22272b;
}

.content-color {
    background: #F2F2F2;
}

.green {
    background: #7ECAC3;
}

.orange {
    background: #FC764C;
}

.hiuse {
    background: #4E5465;
}

.over-flow-hidden {
    overflow: hidden;
}

.over-flow-auto {
    overflow: auto;
}

.myui-header {
    position: fixed;
    left: 18%;
    top: 0px;
    width: 82% !important;
    height: 50px;
    background: #FFFFFF;
    border-bottom: #eeeeee 2px solid;
    z-index: 9999   ;
}

.myui-menu {
    background-color: #22272b;
    width: 18% !important;
    height: 100%;
    position: fixed;
    left: 0px;
    z-index: 9999;
    border-right: #eeeeee 2px solid;
}

.myui-main-content {
    width: 100%;
    height: 100%;
}

.myui-main-frame {
    width: 82% !important;
    background: #F2F2F2;
    height: 100%;
    padding-top: 10px;
}

.menu-header h1 {
    color: #ffffff;
    text-align: center;
}

.menu-header h1 span {
    border-bottom: #009688 1px solid;
}

#menu {
    width: 280px;
    height: 700px;
    margin: 50px auto;
}
#menu a{
    text-decoration: none;
}
#menu .ui-state-default {
    background: #4E5465;
    border: 0px;
    color: #ffffff;
}

#menu ui-accordion-header-icon {
    color: #009688;
}

.user-info {
    width: 160px;
    height: 160px;
    margin: 5px auto;
}

.user-info .user-img {
    margin: 25px auto;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    background: #F2F2F2;
}

.user-message {
    color: #ffffff;
    width: 174px;
}

.user-exit {
    height: 100%;
    width: 80px;
    text-align: center;
    line-height: 4rem;
    margin-right: 15px;
}
.user-notice{
    display: inline-block;
    margin-right: 80px;
}
.user-notice .glyphicon-list-alt{
    font-size: 25px;
    color: #337ab7;
    height: 100%;
    line-height: 4rem;
}

#date{
    line-height: 4rem;
    width: 526px;
    margin-left: 10px;
}
.inline-block{
    display: inline-block;
}
.studen-manager .list-group-item{
    border: none;
}
.studen-manager .list-group-item a{
    text-decoration: none;
}
.user-notice .dropdown-menu{
    left: -280px;
}
.user-notice .dropdown-menu{
    width: 300px;
    height: 500px;
}
.dashboard{
    width: 1500px;
    height: 800px;
    background: #ffffff;
    margin: 30px auto 0px auto;
    box-shadow:10px 10px 5px #BDBCBC;
}
.padding-right-50{
    padding-right: 50px;
}
.padding-left-50{
    padding-left: 50px;
}
.padding-left-150{
    padding-left: 150px;
}
.dashboard-title{
    margin-top: 28px;
}
.dashboard-title span{
    font-size: 30px;
    margin-right: 10px;
    color: #4E5465;
}
.count{
    width: 300px;
    height: 200px;
    float: left;
    margin-top: 80px;
    margin-left: 60px;
    border-radius: 10px;
}
.teacher-count{
    background: #7ec521;
    position: relative;
}
.student-count{
    background:#fea261;
    position: relative;
}
.parent-count{
    background:#ffc007;
    position: relative;
}
.login-userdetail{
    margin-top: 35px;
    margin-left: 59px;
}
.teacher-count .icon-yonghuguanli{
    color: #ffffff;
    font-size: 90px;
    margin-left: 10px;
}
.student-count .icon-icon-test2{
    color: #ffffff;
    font-size: 90px;
    margin-left: 10px;
}
.parent-count .icon-jiachang{
    color: #ffffff;
    font-size: 90px;
    margin-left: 10px;
}
.count-number-title{
    color: #ffffff;
    display: inline-block;
    position: absolute;
    font-size: 20px;
    left: 157px;
    top: 10px;
}
.count-number-img{
    color: #ffffff;
    display: inline-block;
    position: absolute;
    left: 19px;
    top: 19px;
}
.count-number{
    color: #ffffff;
    display: inline-block;
    position: absolute;
    font-size: 25px;
    left: 178px;
    top: 80px;
}
.login-userdetail .panel-default > .panel-heading {
    color: #ffffff;
    background-color: #6E3ABA;
    border-color: #333;
}

