<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.smsys.dao.mapper.ParentEntityMapper">
    <!--结果集映射 家长实体类-->
    <!--2019年12月16日22:02:15-->
    <resultMap id="parent" type="ParentEntity">
        <!--主键-->
        <id property="id" column="id"/>
        <!--其他属性-->
        <result property="parentName" column="parent_name"/>
        <result property="type" column="type"/>
        <result property="telephone" column="telephone"/>
        <result property="workArea" column="work_area"/>
        <result property="age" column="age"/>
    </resultMap>

    <sql id="parent_columns">
         `id`,
        `parent_name`,
        `type`,
        `telephone`,
        `work_area`,
        `age`,
    </sql>

    <!--插入的动态sql 对空值进行处理 key-->
    <sql id="insert_columns_key">
        <trim suffixOverrides=",">
            <if test="id!=0 ">
                `id`,
            </if>
            <if test="parentName!=null and parentName!=''">
                `parent_name`,
            </if>
            <if test="type!=0">
                `type`,
            </if>
            <if test="telephone!=null and telephone!=''">
                `telephone`,
            </if>
            <if test="workArea!=null">
                `work_area`,
            </if>
            <if test="age!=0">
                `age`,
            </if>
        </trim>
    </sql>

    <!--插入的动态sql 对空值进行处理 value-->
    <sql id="insert_property_value">
        <trim suffixOverrides=",">
            <if test="id!=0 ">
                #{id},
            </if>
            <if test="parentName!=null and parentName!=''">
                #{parentName},
            </if>
            <if test="type!=0">
                #{type},
            </if>
            <if test="telephone!=null and telephone!=''">
                #{telephone},
            </if>
            <if test="workArea!=null">
                #{workArea},
            </if>
            <if test="age!=0">
                #{age},
            </if>
        </trim>
    </sql>

    <!--家长个数统计-->
    <select id="selectCount" resultType="int">
        select COUNT(*) AS counts FROM t_sys_parent ;
    </select>

    <!--查询所有家长-->
    <select id="queryParents" resultMap="parent">
        SELECT
        <include refid="parent_columns"/>
        FROM t_sys_parent;
    </select>

    <!--查询老师根据老师id-->
    <select id="queryParentById" parameterType="int" resultMap="parent">
        SELECT
        <include refid="parent_columns"/>
        FROM t_sys_parent WHERE `id`=#{id};
    </select>

    <!--查询家长根据家长 返回一个list-->
    <!--trim 动态查询 如果因为AND 不能直接在where后面-->
    <select id="queryParentByParent" parameterType="parentEntity" resultMap="parent">
        SELECT
        <include refid="parent_columns"/>
        FROM t_sys_parent
        <trim prefix="WHERE" prefixOverrides="AND">

            <if test="id!=0 ">
                #{id},
            </if>
            <if test="parentName!=null and parentName!=''">
                AND `parent_name` LIKE #{parentName},
            </if>
            <if test="type!=0">
                AND `type`=#{type},
            </if>
            <if test="telephone!=null and telephone!=''">
                AND `telephone`=#{telephone},
            </if>
            <if test="workArea!=null">
                AND `work_area`=#{workArea},
            </if>
            <if test="age!=0">
                AND `age`=#{age},
            </if>
        </trim>
    </select>

    <!--修改家长信息-->
    <!--这时就需要进行动态SQL拼接，如下，使用trim就是为了删掉最后字段的“,”。主要不用单独写SET了，因为set被包含在trim中了-->
    <update id="updateParentsById" parameterType="parentEntity">
        UPDATE `t_sys_parent`
        <trim prefix="set" suffixOverrides=",">
            <if test="id!=0 ">
                #{id},
            </if>
            <if test="parentName!=null and parentName!=''">
                 `parent_name` = #{parentName},
            </if>
            <if test="type!=0">
                 `type`=#{type},
            </if>
            <if test="telephone!=null and telephone!=''">
                 `telephone`=#{telephone},
            </if>
            <if test="workArea!=null">
                 `work_area`=#{workArea},
            </if>
            <if test="age!=0">
                 `age`=#{age},
            </if>
        </trim>
        WHERE `id` = #{id};
    </update>

    <!--插入家长信息-->
    <insert id="insertParent" parameterType="teacherEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `t_sys_parent` (<include refid="insert_columns_key"/>) VALUES (<include
            refid="insert_property_value"/>)
    </insert>

    <!--删除家长根据id-->
    <delete id="deleteParentById" parameterType="int">
       DELETE FROM `t_sys_parent` WHERE `id`=#{id}
    </delete>
</mapper>