<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.smsys.dao.mapper.ScoreEntityMapper">
    <!--结果集映射 成绩实体类-->
    <resultMap id="score" type="ScoreEntity">
        <id property="id" column="id"/>
        <result property="scoreCode" column="score_code"></result>
        <result property="scoreType" column="score_type"></result>
        <result property="ScoreValue" column="score_value"></result>
        <result property="scoreTime" column="score_time"></result>
        <result property="studentId" column="student_id"></result>
    </resultMap>

    <sql id="score_columns">
         `id`,
        `score_code`,
        `score_type`,
        `score_value`,
        `score_time`,
        `student_id`
    </sql>

    <!--插入的动态sql 对空值进行处理 key-->
    <sql id="insert_columns_key">
        <trim suffixOverrides=",">
            <if test="id!=0 ">
                `id`,
            </if>
            <if test="scoreCode!=null and scoreCode!=''">
                `score_code`,
            </if>
            <if test="scoreType!=0">
                `score_type`,
            </if>
            <if test="ScoreValue!=null and ScoreValue!=''">
                `score_value`,
            </if>
            <if test="scoreTime!=null">
                `score_time`,
            </if>
            <if test="studentId!=0">
                `student_id`,
            </if>
        </trim>
    </sql>

    <!--插入的动态sql 对空值进行处理 value-->
    <sql id="insert_property_value">
        <trim suffixOverrides=",">
            <if test="id!=0 ">
                #{id},
            </if>
            <if test="scoreCode!=null and scoreCode!=''">
                #{scoreCode},
            </if>
            <if test="scoreType!=0">
                #{scoreType},
            </if>
            <if test="scoreValue!=null and scoreValue!=''">
                #{ScoreValue},
            </if>
            <if test="scoreTime!=null">
                #{scoreTime},
            </if>
            <if test="studentId!=0">
                #{studentId},
            </if>
        </trim>
    </sql>

    <!--查询所有成绩-->
    <select id="queryScores" resultMap="score">
        SELECT
        <include refid="score_columns"/>
        FROM t_sys_student_score;
    </select>

    <!--查询成绩根据成绩id-->
    <select id="queryScoreById" parameterType="int" resultMap="score">
        SELECT
        <include refid="score_columns"/>
        FROM t_sys_student_score WHERE `id`=#{id};
    </select>

    <!--查询成绩根据成绩 返回一个list-->
    <!--trim 动态查询 如果因为AND 不能直接在where后面-->
    <select id="queryScoreByScore" parameterType="scoreEntity" resultMap="score">
        SELECT
        <include refid="score_columns"/>
        FROM t_sys_student_score
        <trim prefix="WHERE" prefixOverrides="AND">

            <if test="id!=0 ">
                #{id},
            </if>
            <if test="scoreCode!=null and scoreCode!=''">
                AND `score_code` LIKE #{scoreCode}
            </if>
            <if test="scoreType!=0">
                AND `score_type`=#{scoreType}
            </if>
            <if test="scoreValue!=null and scoreValue!=''">
                AND `score_value`=#{ScoreValue}
            </if>
            <if test="scoreTime!=null">
                AND `score_time`=#{scoreTime}
            </if>
            <if test="studentId!=0">
                AND `student_id`=#{studentId}
            </if>
        </trim>
    </select>

    <!--修改成绩信息-->
    <!--这时就需要进行动态SQL拼接，如下，使用trim就是为了删掉最后字段的“,”。主要不用单独写SET了，因为set被包含在trim中了-->
    <update id="updateScoresById" parameterType="scoreEntity">
        UPDATE `t_sys_student_score`
        <trim prefix="set" suffixOverrides=",">
            <if test="scoreCode!=null and scoreCode!=''">
                `score_code` = #{scoreCode},
            </if>
            <if test="scoreType!=0">
                `score_type`=#{scoreType},
            </if>
            <if test="scoreValue!=null and scoreValue!=''">
                `score_value`=#{scoreValue},
            </if>
            <if test="scoreTime!=null">
                `score_time`=#{scoreTime},
            </if>
            <if test="studentId!=0">
                `student_id`=#{studentId},
            </if>
        </trim>
        WHERE `id` = #{id};
    </update>

    <!--插入成绩信息-->
    <insert id="insertScore" parameterType="scoreEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `t_sys_student_score` (<include refid="insert_columns_key"/>) VALUES (<include
            refid="insert_property_value"/>)
    </insert>

    <!--删除成绩根据id-->
    <delete id="deleteScoreById" parameterType="int">
       DELETE FROM `t_sys_student_score` WHERE `id`=#{id}
    </delete>
</mapper>