<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.smsys.dao.mapper.StudentEntityMapper">
    <!--结果集映射 学生实体类-->
    <resultMap id="studnet" type="StudentEntity">
        <id property="id" column="id"/>
        <result property="censusId" column="census_id"></result>
        <result property="telephone" column="telephone"></result>
        <result property="homeAddress" column="home_address"></result>
        <result property="name" column="name"></result>
        <result property="age" column="age"></result>
        <result property="valid" column="valid"></result>
        <result property="classId" column="class_id"></result>
        <result property="enrolId" column="enrol_id"></result>
    </resultMap>

    <!-- mysql分页通用结尾 -->
    <sql id="pageEnd">
        limit #{pageEntity.offsetPara,jdbcType=INTEGER} ,#{pageEntity.limitPara,jdbcType=INTEGER}
    </sql>

    <sql id="studnet_columns">
        `id`,
        `census_id`,
        `telephone`,
        `home_address`,
        `name`,
        `age`,
        `valid`,
        `class_id`,
        `enrol_id`,
    </sql>

    <sql id="studnet_property">
        /*在数据插入的时候对学籍id进行非空判断如果为空的那就给一个默认值0*/
        <choose>
            <when test="censusId==0||censusId==''">
                0,
            </when>
            <otherwise>
                #{censusId},
            </otherwise>
        </choose>
        #{telephone},
        #{homeAddress},
        #{name},
        #{valid},
        #{age},
        #{classId},
        #{enrolId}
    </sql>
    <select id="queryAllStudent" resultMap="studnet">
        SELECT <include refid="studnet_columns" /> FROM t_sys_student;
    </select>
    <!--学生个数统计-->
    <select id="selectCount" resultType="int">
        select COUNT(*) AS counts FROM t_sys_student ;
    </select>
</mapper>